.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(252, 250, 250);
}

.nav {
  display: flex;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(247, 241, 241);
  font-weight: 500;
}

.active {
  color: rgb(8, 2, 2);
  background-color: rgb(80, 88, 177);
}
